# Owners of the shell application
/ebuilder-shell/  @shell-team-founder

# Owners of the cost application
/ebuilder-cost/   @ebuilder-cost-team @team-navigators

# Owners of the landing page application
/ebuilder-home/   @ebuilder-home-team @team-navigators

# Owners of the setup application
/ebuilder-setup/  @ebuilder-setup-team @team-navigators

# Owners of the shared libraries
/libs/shared/data-access   @shared-libs-owner

